.todo-input {
    margin-bottom: 10px;
}

.todo-nocomp {
    margin-bottom: 10px;
    background-color: #1c032b3b;
    padding: 10px;
}

.todo-comp {
    margin-bottom: 10px;
    background-color: tan;
    padding: 10px;
}

.list-row {
    display: flex;
    gap: 10px;
}